@import "../../styles/shared";

.card {
  background-color: $color-white;
  padding: $spacing-md;
  transition: $transition-default;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: $card-width;
  height: 100%;
  min-height: $card-height;
  border: $card-border-width solid transparent;

  button {
    img {
      margin: 0px 5px;
    }
  }

  &.default {
    align-items: center;
    button {
      border: 2px solid $color-white;
    }

    &:hover {
      background-color: $color-primary;

      button {
        background-color: $color-primary;
        color: $color-white;
        padding: 0px;
      }
    }
  }
  &.border {
    align-items: flex-start;
    border: $card-border-width solid transparent;

    &:hover {
      border-color: $color-primary;
    }
    button {
      padding: $spacing-md-second;
    }
  }

  &.disabled {
    align-items: flex-start;
    button {
      background-color: #aaaaaa;

      &:hover {
        border-color: $color-primary;
        background-color: #aaaaaa;
      }
    }
  }
}
